/* body */
body {
  @extend .fontDefault;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    background-color: rgba($color: $colorMain, $alpha: 0.02);
    transition: width 0.8s $easeOutBack 0.2s;
  }

  &.load-complete {
    &::before {
      width: calc(50% - (1024px * 0.5 * 0.4));
    }
  }

  > * {
    position: relative;
  }
}
