/* カードデザイン */
.card {
  display: flex;
  /*
  justify-content: center;
  */
  margin: 48px auto;
  text-align: center;
}

.card__body {
  display: inline-flex;
  max-width: 100%;
  width: 536px;
  font-size: 1.4rem;
  line-height: 2;
  font-feature-settings: "palt";
  letter-spacing: 0.08em;
  display: block;
  border: 1px solid rgba($color: $colorGray, $alpha: 0.4);
  border-radius: 8px;
  overflow: hidden;
  padding: 16px;
  color: $colorGray;
  text-decoration: none;
  transition: background-color 0.4s, color 0.4s;

  @include mq() {
    color: #000;
  }

  body:not(.is__touchDevice) &:hover {
    background-color: rgba($color: $colorMain, $alpha: 0.1);
    color: #000;
  }

  body:not(.is__touchDevice) .card--links &:hover {
    background-color: transparent;
  }

  .card--links & .card__bodyLink {
    transition: color 0.4s;
  }

  body:not(.is__touchDevice) .card--links & .card__bodyLink:hover {
    color: #000;
  }
}

.card__image {
  text-align: center;
  overflow: hidden;
}

.card__imageIcon {
  position: relative;
  width: 10rem;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid $colorMain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.card__header {
  margin-top: 8px;
  text-align: left;

  p {
    margin-bottom: 0 !important;
  }

  dt {
    position: relative;
    padding-left: 1em;

    &::before {
      content: "";
      position: absolute;
      width: 0.8em;
      height: 0.8em;
      border-radius: 50%;
      left: 0;
      top: 1em;
      transform: translateY(-50%);
      background-color: rgba($color: $colorMain, $alpha: 0.5);
    }
  }

  dd + dt {
    margin-top: 1.5rem;
  }
}

.card__footer {
  text-align: right;
  margin-top: 16px;
  border-top: 1px solid rgba($color: $colorGray, $alpha: 0.4);
  padding-top: 8px;

  p {
    margin: 8px 0 0 !important;
  }
}

.card__imageList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -16px;

  a {
    width: calc((100% - 16px) / 2);
    margin-top: 16px;
    color: $colorGray;

    @include mq("sp") {
      width: 100%;

      + a {
        margin-top: 32px;
      }
    }

    img {
      width: 200px;
    }

    p {
      display: inline-block;
      margin: 0.5em 0 0;
      line-height: 1.4;
      font-size: 90%;
      text-align: left;
    }
  }
}

/* cd */
.card--cd .card__body {
  margin: 0 auto;
}

/* profile */
.card--profile .card__body {
  margin: 0 auto;

  body:not(.is__touchDevice) &:hover {
    background-color: transparent;
  }

  .card__footerSns {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 1.5rem 0 0;
  }

  .card__footerSnsItem {
    margin: 1rem 0 0 1rem;
    padding: 0;
    line-height: 1;

    &::before {
      display: none;
    }
  }

  .card__footerSnsItemLink {
    display: block;
    width: 4rem;
    transition: transform 0.4s;

    body:not(.is__touchDevice) &:hover {
      transform: scale(1.2);
    }
  }
}

/* voice */
.card--voice .card__body {
  margin: 0 auto;
}

.card__mainVoice {
  width: 100%;
  margin-top: 4rem;
}

.card--voice .card__header {
  text-align: center;

  p:first-child {
    margin-top: 0;
  }
}

.card--voice .card__headerCaption {
  font-size: 150%;
  margin: 0;

  p {
    text-align: left;
    display: inline-block;
  }
}

.card--voice .card__headerRead {
  p {
    text-align: left;
    display: inline-block;
  }
}
