/* icon */
.icon {
  font-style: normal;
}

.icon--sns {
  position: relative;
  display: block;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.icon--facebook {
  background-image: url("../images/common/001-facebook.svg");
  box-shadow: 0 0 7.5px rgba($color: #3b5998, $alpha: 0.5), 0 0 7.5px #f5f5f5;
}

.icon--twitter {
  background-image: url("../images/common/002-twitter.svg");
  box-shadow: 0 0 7.5px rgba($color: #55acee, $alpha: 0.5), 0 0 7.5px #f5f5f5;
}

.icon--soundcloud {
  background-image: url("../images/common/003-soundcloud.svg");
  box-shadow: 0 0 7.5px rgba($color: #ff6a22, $alpha: 0.5), 0 0 7.5px #f5f5f5;
}

.icon--instagram {
  background-image: url("../images/common/004-instagram.svg");
  box-shadow: 0 0 7.5px rgba($color: #6a453b, $alpha: 0.5), 0 0 7.5px #f5f5f5;
}

.icon--googlePlus {
  background-image: url("../images/common/005-google-plus.svg");
  box-shadow: 0 0 7.5px rgba($color: #dc4e41, $alpha: 0.5), 0 0 7.5px #f5f5f5;
}

.icon--email {
  background-image: url("../images/common/006-email.svg");
  box-shadow: 0 0 7.5px rgba($color: #000000, $alpha: 0.5), 0 0 7.5px #f5f5f5;
}
