/* メインエリア */
.mainContent__body {
  font-size: 1.4rem;
  line-height: 2;
  font-feature-settings: "palt";
  letter-spacing: 0.08em;
  margin-top: 64px;
  /*
  max-width: 630px;
  */

  .section + .section,
  .section + section,
  section + .section,
  section + section {
    margin-top: 120px;
  }

  p {
    margin: 1em 0;
  }

  /* 見出し */
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: normal;
  }

  h1,
  h2 {
    position: relative;
    line-height: 1.4;
    font-size: 200%;
    letter-spacing: 0.08em;
    padding-bottom: 10px;
    margin-bottom: 32px;

    @include mq("sp") {
      font-size: 170%;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background: linear-gradient(
        to right,
        rgba($color: $colorMain, $alpha: 1) 0%,
        rgba($color: $colorMain, $alpha: 1) 200px,
        rgba($color: #000000, $alpha: 1) 200px,
        rgba($color: #000000, $alpha: 1) 100%
      );
    }

    &::first-letter {
      color: $colorMain;
    }
  }

  h3 {
    font-size: 160%;
    line-height: 1.4;
    margin: 24px 0 16px;

    @include mq("sp") {
      font-size: 140%;
    }
  }

  /* リスト */
  ul {
    margin: 24px 0;
    font-feature-settings: "palt";
    letter-spacing: 0.08em;
    line-height: 1.75;

    li {
      position: relative;
      padding-left: 1.4em;
      margin-top: 1em;

      &:first-child {
        margin-top: 0;
      }

      &::before {
        content: "";
        position: absolute;
        line-height: 0;
        left: 0;
        top: calc(1.75em / 2 + 0.05em);
        width: 1em;
        height: 1em;
        background-color: $colorMain;
        border-radius: 50%;
        transform: translateY(-50%);
        background-clip: padding-box;
      }
    }
  }
}
