/* メインフッター */
.mainFooter {
  margin-top: auto;
}

.mainFooter__inner {
  margin-top: 64px;
}

.mainFooter__copyright {
  @extend .fontComfortaa;
  text-align: right;
  font-size: 1.4rem;
  padding: 16px 0;
}
