/* メインヘッダー */
.mainHeader {
  position: sticky;
  z-index: 999;
  top: 0;
  padding-top: 0.8rem;
  background-color: rgba($color: #fff, $alpha: 0.9);

  @supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
    backdrop-filter: blur(2.5px);
  }

  @include mq("sp") {
    padding-top: 0;
  }

  a {
    @extend .fontComfortaa;
    position: relative;
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 1.6rem;
    color: $colorGray;
    letter-spacing: 0.05em;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    height: calc(1em + 8px + 8px);
    transform-style: preserve-3d;
    transform: translateZ(calc((1em + 8px + 8px) / 2));
    transition: transform 0.3s ease-in-out;

    @include mq("sp") {
      height: auto;
    }

    &[data-text]::before {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 8px 16px;
      color: $colorMain;
      transform: rotateX(90deg) translateZ(calc((1em + 8px + 8px) / 2));
    }

    & span {
      display: block;
      padding: 8px 16px;

      @include mq("sp") {
        padding: 16px;
      }
    }

    &[data-text] span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateZ(calc((1em + 8px + 8px) / 2));
    }
  }

  body:not(.is__touchDevice) & a[data-text]:hover,
  .mainHeader__navListItem.is__current a {
    transform: translateZ(calc((1em + 8px + 8px) / 2 * -1)) rotateX(-90deg);
  }
}

.mainHeader__navList {
  position: relative;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #000;

  @include mq("sp") {
    display: block;
    border-bottom: none;
    margin-top: 80px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 6.25%;
    height: 1px;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);

    @include mq("sp") {
      display: none;
    }
  }

  &::before {
    left: 100%;
    margin-left: -1px;
  }

  &::after {
    right: 100%;
    margin-right: -1px;
    transform: scale(-1, 1);
  }
}

.mainHeader__navListItem {
  width: calc(100% / 7);
  overflow: hidden;

  @include mq("sp") {
    width: 100%;

    a,
    a[data-text] {
      span {
        position: static;
      }
    }
  }
}

.mainHeader__spMain {
  display: none;

  @include mq("sp") {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.mainHeader__spMainItem {
  .mainHeader__spMainItemLogo {
    @include mq("sp") {
      font-weight: normal;
      font-size: 1.4rem;
      text-transform: capitalize;

      img {
        width: 14rem;
        display: block;
        margin: 0.8rem;
      }
    }
  }

  .mainHeader__spMainItemButton {
    @include mq("sp") {
      position: relative;
      z-index: 1;
      font-weight: normal;
      font-size: 1rem;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 6px;
        left: 16px;
        right: 16px;
        border-bottom: 2px solid $colorGray;
        transition: top 0.4s, transform 0.4s;

        .js__mainHeaderNavOpen & {
          top: 10px;
          transform: rotate(-20deg);
        }
      }

      &::after {
        top: 14px;

        .js__mainHeaderNavOpen & {
          transform: rotate(20deg);
        }
      }

      span {
        padding: 24px 16px 4px;
      }
    }
  }
}

.mainHeader__nav {
  @include mq("sp") {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($color: #fff, $alpha: 0.9);
    transition: opacity 0.4s, visibility 0s 0.4s;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;

    .js__mainHeaderNavOpen & {
      transition: opacity 0.4s;
      opacity: 1;
      visibility: visible;
    }
  }
}
