/* メインビジュアル */
.mainVisual {
  position: relative;
  z-index: 2;
  text-align: center;
  overflow: hidden;
  background-image: url("../images/mainVisual/background-image.jpg");
  background-position: center;
  background-repeat: repeat-x;
  background-size: auto 100%;

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 150vmax;
    height: 150vmax;
    border: 150vmax solid #fff;
    transform: translate(-50%, -50%);
    border-radius: 50%;

    .load-complete & {
      transition: all 4s $easeOutQuart 0.3s;
      border-width: 0;
    }
  }
}

.mainVisual__main {
  max-height: 100%;
  overflow: hidden;

  .mainVisual__mainImage {
    position: relative;
    background-image: url("../images/mainVisual/main-visual.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    width: calc(34rem / 0.46052207541089268);
    margin: 0 auto;

    &::before {
      content: "";
      display: block;
      padding-top: 46.052207541089268%;
    }
  }

  .load-complete & {
    transition: all 0.8s $easeOutQuart 0.3s;
    filter: drop-shadow(0.991rem 0.991rem 1.5rem #d9dade) drop-shadow(-0.991rem -0.991rem 1.5rem #f5f5f5);
  }
}
