/* ニューモーフィズム */
body.neumorphism {
  /*
   * TODO: コメントアウト
  background-color: rgba($color: $colorGray, $alpha: 0.05);
  */
  background-color: rgba($color: $colorGray, $alpha: 0.03);

  &::before {
    background-color: rgba($color: $colorMain, $alpha: 0.05);
    box-shadow: inset 9.91px 9.91px 15px #dedede, inset -9.91px -9.91px 15px #fff;
    transition: width 1s $easeOutQuart 0.2s;
  }

  &.load-complete {
    &::before {
      width: calc(50vw - (1024px * 0.5 * 0.4));
    }
  }

  /* メインビジュアル */
  .mainVisual {
    background-color: #fff;

    &::before {
      content: "";
      position: absolute;
      z-index: 0;
      top: -1rem;
      right: -1rem;
      bottom: -1rem;
      left: -1rem;
      background-color: rgba($color: $colorGray, $alpha: 0.03);
    }
  }

  /* メインヘッダー */
  .mainHeader {
    box-shadow: 0px 9.91px 9px #d9dade;
  }

  /* コピーライト */
  .mainFooter__copyright {
    text-align: left;
  }

  /* メインコンテンツ */
  .mainContent__body {
    padding-right: calc((1024px / 0.875 / 2 - (1024px * 0.5 * 0.4)) - ((1024px / 0.875 - 1024px) / 2) + 32px);

    @include max(1024 / 0.875) {
      padding-right: calc((50vw - (1024px * 0.5 * 0.4)) - ((100vw * 0.125) / 2) + 32px);
    }

    h1,
    h2 {
      margin-bottom: 40px;
      box-shadow: #d9dade 4.91px 6.91px 15px, #fff -9.91px -9.91px 15px;
      padding: 1rem 1.5rem;
    }

    iframe[src*="w.soundcloud.com/player"] {
      box-shadow: 4.91px 6.91px 15px #d9dade, -9.91px -9.91px 15px #f5f5f5;
      border-radius: 5px;
      margin-bottom: 24px;
    }
  }

  /* カード */
  .card__body {
    border: none;
    border-radius: 16px;
    padding: 32px;
    box-shadow: #d9dade 9.91px 9.91px 15px, #f5f5f5 -9.91px -9.91px 15px;

    @include mq("sp") {
      padding: 24px 16px;
    }

    .card__image {
      overflow: visible;

      .card__imageIcon,
      img {
        transition: box-shadow 0.4s, transform 0.4s;
        backface-visibility: hidden;
        will-change: transform;
        box-shadow: 4px 4px 15px #d9dade, -4px -4px 15px #f5f5f5;
      }

      .card__imageIcon {
        border-color: rgba($color: $colorMain, $alpha: 0.5);
        box-shadow: 0 0 15px rgba($color: $colorMain, $alpha: 0.5), 0 0 15px #f5f5f5;
        margin-bottom: 10px;
      }
    }
  }

  &:not(.is__touchDevice) {
    a.card__body:hover {
      .card__image {
        img {
          box-shadow: 4px 4px 15px #bec0c4, -4px -4px 15px #dbdbdb;
          box-shadow: 4px 4px 15px #d9dade, -4px -4px 15px #f5f5f5;
          transform: scale(1.02);
        }
      }
    }

    .card__imageList a:hover {
      .card__image {
        img {
          box-shadow: 4px 4px 15px #bec0c4, -4px -4px 15px #dbdbdb;
          box-shadow: 4px 4px 15px #d9dade, -4px -4px 15px #f5f5f5;
          transform: scale(1.05);
        }
      }
    }
  }
}

/* 凹んだ感じ */
body.neumorphism--inset {
  &::before {
    box-shadow: -9.91px 9.91px 15px #dedede, 9.91px 9.91px 15px #fff;
  }

  /* メインコンテンツ */
  .mainContent__body {
    h1,
    h2 {
      box-shadow: 4px 4px 15px #dedede inset, -4px -4px 15px #f5f5f5 inset;
      padding: 8px 16px;
      border-radius: 16px;
      margin-left: -16px;

      &::after {
        display: none;
      }
    }
  }

  /* カード */
  .card__body {
    box-shadow: 6px 6px 15px #dedede inset, -6px -6px 15px #f5f5f5 inset;
  }
}
