*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

html {
  font-size: 10px;
}

b,
strong,
.bold {
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;

  #mainHeader,
  #mainContent,
  #mainFooter {
    width: 100%;
  }
}

.mainContent {
  overflow: hidden;
}

.mainFooter {
  margin-top: auto;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  width: auto;
  height: auto;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

.ua-pc a[href^="tel:"] {
  pointer-events: none;
}
