/* Julius Sans One */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");

.fontComfortaa {
  font-family: "Comfortaa", cursive;
  letter-spacing: 0.08em !important;
}
