@charset "UTF-8";
/* 変数定義 */
/* アニメーション */
/* break point */
/* pattern color */
/* デフォルト設定 */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400;700&display=swap");
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

nav ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input,
select {
  vertical-align: middle; }

body {
  overflow-x: hidden;
  min-height: 100vh; }

sup {
  vertical-align: super;
  font-size: 70%; }

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }

html {
  font-size: 10px; }

b,
strong,
.bold {
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  display: flex;
  flex-direction: column; }
  body #mainHeader,
  body #mainContent,
  body #mainFooter {
    width: 100%; }

.mainContent {
  overflow: hidden; }

.mainFooter {
  margin-top: auto; }

img {
  max-width: 100%;
  vertical-align: bottom;
  width: auto;
  height: auto; }

ul,
ol {
  list-style: none; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500; }

.ua-pc a[href^="tel:"] {
  pointer-events: none; }

/* コンテンツ */
.contentView {
  max-width: 102.4rem;
  width: 87.5%;
  margin: 0 auto; }

/* WEBフォント */
/* Julius Sans One */
.fontComfortaa, .mainFooter__copyright, .mainHeader a {
  font-family: "Comfortaa", cursive;
  letter-spacing: 0.08em !important; }

/* default */
.fontDefault, body {
  font-family: "Comfortaa", "M PLUS 1p", sans-serif; }

/* M PLUS 1p */
.fontNikomoji {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: normal; }

/**
 * Noto Sans CJK JP: https://www.google.com/get/noto/#sans-jpan
 * Noto Sans JP: https://fonts.google.com/earlyaccess#Noto+Sans+JP
 */
@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans CJK JP Light"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Light.otf) format("opentype"); }

@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans CJK JP Regular"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.otf) format("opentype"); }

@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans CJK JP Medium"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.otf) format("opentype"); }

@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans CJK JP Bold"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Bold.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Bold.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Bold.otf) format("opentype"); }

.fontNotoSansJP {
  font-family: "Noto Sans JP", sans-serif; }

/* エレメント */
/* body */
body::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  background-color: rgba(213, 97, 108, 0.02);
  transition: width 0.8s cubic-bezier(0.34, 1.56, 0.64, 1) 0.2s; }

body.load-complete::before {
  width: calc(50% - (1024px * 0.5 * 0.4)); }

body > * {
  position: relative; }

/* カードデザイン */
.card {
  display: flex;
  /*
  justify-content: center;
  */
  margin: 48px auto;
  text-align: center; }

.card__body {
  display: inline-flex;
  max-width: 100%;
  width: 536px;
  font-size: 1.4rem;
  line-height: 2;
  font-feature-settings: "palt";
  letter-spacing: 0.08em;
  display: block;
  border: 1px solid rgba(153, 153, 153, 0.4);
  border-radius: 8px;
  overflow: hidden;
  padding: 16px;
  color: #999;
  text-decoration: none;
  transition: background-color 0.4s, color 0.4s; }
  @media screen and (max-width: 767px) {
    .card__body {
      color: #000; } }
  body:not(.is__touchDevice) .card__body:hover {
    background-color: rgba(213, 97, 108, 0.1);
    color: #000; }
  body:not(.is__touchDevice) .card--links .card__body:hover {
    background-color: transparent; }
  .card--links .card__body .card__bodyLink {
    transition: color 0.4s; }
  body:not(.is__touchDevice) .card--links .card__body .card__bodyLink:hover {
    color: #000; }

.card__image {
  text-align: center;
  overflow: hidden; }

.card__imageIcon {
  position: relative;
  width: 10rem;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid #d5616c;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .card__imageIcon::before {
    content: "";
    display: block;
    padding-top: 100%; }

.card__header {
  margin-top: 8px;
  text-align: left; }
  .card__header p {
    margin-bottom: 0 !important; }
  .card__header dt {
    position: relative;
    padding-left: 1em; }
    .card__header dt::before {
      content: "";
      position: absolute;
      width: 0.8em;
      height: 0.8em;
      border-radius: 50%;
      left: 0;
      top: 1em;
      transform: translateY(-50%);
      background-color: rgba(213, 97, 108, 0.5); }
  .card__header dd + dt {
    margin-top: 1.5rem; }

.card__footer {
  text-align: right;
  margin-top: 16px;
  border-top: 1px solid rgba(153, 153, 153, 0.4);
  padding-top: 8px; }
  .card__footer p {
    margin: 8px 0 0 !important; }

.card__imageList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -16px; }
  .card__imageList a {
    width: calc((100% - 16px) / 2);
    margin-top: 16px;
    color: #999; }
    @media screen and (max-width: 767px) {
      .card__imageList a {
        width: 100%; }
        .card__imageList a + a {
          margin-top: 32px; } }
    .card__imageList a img {
      width: 200px; }
    .card__imageList a p {
      display: inline-block;
      margin: 0.5em 0 0;
      line-height: 1.4;
      font-size: 90%;
      text-align: left; }

/* cd */
.card--cd .card__body {
  margin: 0 auto; }

/* profile */
.card--profile .card__body {
  margin: 0 auto; }
  body:not(.is__touchDevice) .card--profile .card__body:hover {
    background-color: transparent; }
  .card--profile .card__body .card__footerSns {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 1.5rem 0 0; }
  .card--profile .card__body .card__footerSnsItem {
    margin: 1rem 0 0 1rem;
    padding: 0;
    line-height: 1; }
    .card--profile .card__body .card__footerSnsItem::before {
      display: none; }
  .card--profile .card__body .card__footerSnsItemLink {
    display: block;
    width: 4rem;
    transition: transform 0.4s; }
    body:not(.is__touchDevice) .card--profile .card__body .card__footerSnsItemLink:hover {
      transform: scale(1.2); }

/* voice */
.card--voice .card__body {
  margin: 0 auto; }

.card__mainVoice {
  width: 100%;
  margin-top: 4rem; }

.card--voice .card__header {
  text-align: center; }
  .card--voice .card__header p:first-child {
    margin-top: 0; }

.card--voice .card__headerCaption {
  font-size: 150%;
  margin: 0; }
  .card--voice .card__headerCaption p {
    text-align: left;
    display: inline-block; }

.card--voice .card__headerRead p {
  text-align: left;
  display: inline-block; }

/* icon */
.icon {
  font-style: normal; }

.icon--sns {
  position: relative;
  display: block;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .icon--sns::before {
    content: "";
    display: block;
    padding-top: 100%; }

.icon--facebook {
  background-image: url("../images/common/001-facebook.svg");
  box-shadow: 0 0 7.5px rgba(59, 89, 152, 0.5), 0 0 7.5px #f5f5f5; }

.icon--twitter {
  background-image: url("../images/common/002-twitter.svg");
  box-shadow: 0 0 7.5px rgba(85, 172, 238, 0.5), 0 0 7.5px #f5f5f5; }

.icon--soundcloud {
  background-image: url("../images/common/003-soundcloud.svg");
  box-shadow: 0 0 7.5px rgba(255, 106, 34, 0.5), 0 0 7.5px #f5f5f5; }

.icon--instagram {
  background-image: url("../images/common/004-instagram.svg");
  box-shadow: 0 0 7.5px rgba(106, 69, 59, 0.5), 0 0 7.5px #f5f5f5; }

.icon--googlePlus {
  background-image: url("../images/common/005-google-plus.svg");
  box-shadow: 0 0 7.5px rgba(220, 78, 65, 0.5), 0 0 7.5px #f5f5f5; }

.icon--email {
  background-image: url("../images/common/006-email.svg");
  box-shadow: 0 0 7.5px rgba(0, 0, 0, 0.5), 0 0 7.5px #f5f5f5; }

/* メインエリア */
.mainContent__body {
  font-size: 1.4rem;
  line-height: 2;
  font-feature-settings: "palt";
  letter-spacing: 0.08em;
  margin-top: 64px;
  /*
  max-width: 630px;
  */
  /* 見出し */
  /* リスト */ }
  .mainContent__body .section + .section,
  .mainContent__body .section + section,
  .mainContent__body section + .section,
  .mainContent__body section + section {
    margin-top: 120px; }
  .mainContent__body p {
    margin: 1em 0; }
  .mainContent__body h1,
  .mainContent__body h2,
  .mainContent__body h3,
  .mainContent__body h4,
  .mainContent__body h5 {
    font-weight: normal; }
  .mainContent__body h1,
  .mainContent__body h2 {
    position: relative;
    line-height: 1.4;
    font-size: 200%;
    letter-spacing: 0.08em;
    padding-bottom: 10px;
    margin-bottom: 32px; }
    @media screen and (max-width: 767px) {
      .mainContent__body h1,
      .mainContent__body h2 {
        font-size: 170%; } }
    .mainContent__body h1::after,
    .mainContent__body h2::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background: linear-gradient(to right, #d5616c 0%, #d5616c 200px, black 200px, black 100%); }
    .mainContent__body h1::first-letter,
    .mainContent__body h2::first-letter {
      color: #d5616c; }
  .mainContent__body h3 {
    font-size: 160%;
    line-height: 1.4;
    margin: 24px 0 16px; }
    @media screen and (max-width: 767px) {
      .mainContent__body h3 {
        font-size: 140%; } }
  .mainContent__body ul {
    margin: 24px 0;
    font-feature-settings: "palt";
    letter-spacing: 0.08em;
    line-height: 1.75; }
    .mainContent__body ul li {
      position: relative;
      padding-left: 1.4em;
      margin-top: 1em; }
      .mainContent__body ul li:first-child {
        margin-top: 0; }
      .mainContent__body ul li::before {
        content: "";
        position: absolute;
        line-height: 0;
        left: 0;
        top: calc(1.75em / 2 + 0.05em);
        width: 1em;
        height: 1em;
        background-color: #d5616c;
        border-radius: 50%;
        transform: translateY(-50%);
        background-clip: padding-box; }

/* メインフッター */
.mainFooter {
  margin-top: auto; }

.mainFooter__inner {
  margin-top: 64px; }

.mainFooter__copyright {
  text-align: right;
  font-size: 1.4rem;
  padding: 16px 0; }

/* メインヘッダー */
.mainHeader {
  position: sticky;
  z-index: 999;
  top: 0;
  padding-top: 0.8rem;
  background-color: rgba(255, 255, 255, 0.9); }
  @supports (-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em)) {
    .mainHeader {
      backdrop-filter: blur(2.5px); } }
  @media screen and (max-width: 767px) {
    .mainHeader {
      padding-top: 0; } }
  .mainHeader a {
    position: relative;
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 1.6rem;
    color: #999;
    letter-spacing: 0.05em;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    height: calc(1em + 8px + 8px);
    transform-style: preserve-3d;
    transform: translateZ(calc((1em + 8px + 8px) / 2));
    transition: transform 0.3s ease-in-out; }
    @media screen and (max-width: 767px) {
      .mainHeader a {
        height: auto; } }
    .mainHeader a[data-text]::before {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 8px 16px;
      color: #d5616c;
      transform: rotateX(90deg) translateZ(calc((1em + 8px + 8px) / 2)); }
    .mainHeader a span {
      display: block;
      padding: 8px 16px; }
      @media screen and (max-width: 767px) {
        .mainHeader a span {
          padding: 16px; } }
    .mainHeader a[data-text] span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateZ(calc((1em + 8px + 8px) / 2)); }
  body:not(.is__touchDevice) .mainHeader a[data-text]:hover,
  .mainHeader .mainHeader__navListItem.is__current a {
    transform: translateZ(calc((1em + 8px + 8px) / 2 * -1)) rotateX(-90deg); }

.mainHeader__navList {
  position: relative;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #000; }
  @media screen and (max-width: 767px) {
    .mainHeader__navList {
      display: block;
      border-bottom: none;
      margin-top: 80px; } }
  .mainHeader__navList::before, .mainHeader__navList::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 6.25%;
    height: 1px;
    background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0) 100%); }
    @media screen and (max-width: 767px) {
      .mainHeader__navList::before, .mainHeader__navList::after {
        display: none; } }
  .mainHeader__navList::before {
    left: 100%;
    margin-left: -1px; }
  .mainHeader__navList::after {
    right: 100%;
    margin-right: -1px;
    transform: scale(-1, 1); }

.mainHeader__navListItem {
  width: calc(100% / 7);
  overflow: hidden; }
  @media screen and (max-width: 767px) {
    .mainHeader__navListItem {
      width: 100%; }
      .mainHeader__navListItem a span,
      .mainHeader__navListItem a[data-text] span {
        position: static; } }

.mainHeader__spMain {
  display: none; }
  @media screen and (max-width: 767px) {
    .mainHeader__spMain {
      display: flex;
      justify-content: space-between;
      align-items: center; } }

@media screen and (max-width: 767px) {
  .mainHeader__spMainItem .mainHeader__spMainItemLogo {
    font-weight: normal;
    font-size: 1.4rem;
    text-transform: capitalize; }
    .mainHeader__spMainItem .mainHeader__spMainItemLogo img {
      width: 14rem;
      display: block;
      margin: 0.8rem; } }

@media screen and (max-width: 767px) {
  .mainHeader__spMainItem .mainHeader__spMainItemButton {
    position: relative;
    z-index: 1;
    font-weight: normal;
    font-size: 1rem; }
    .mainHeader__spMainItem .mainHeader__spMainItemButton::before, .mainHeader__spMainItem .mainHeader__spMainItemButton::after {
      content: "";
      position: absolute;
      top: 6px;
      left: 16px;
      right: 16px;
      border-bottom: 2px solid #999;
      transition: top 0.4s, transform 0.4s; }
      .js__mainHeaderNavOpen .mainHeader__spMainItem .mainHeader__spMainItemButton::before, .js__mainHeaderNavOpen .mainHeader__spMainItem .mainHeader__spMainItemButton::after {
        top: 10px;
        transform: rotate(-20deg); }
    .mainHeader__spMainItem .mainHeader__spMainItemButton::after {
      top: 14px; }
      .js__mainHeaderNavOpen .mainHeader__spMainItem .mainHeader__spMainItemButton::after {
        transform: rotate(20deg); }
    .mainHeader__spMainItem .mainHeader__spMainItemButton span {
      padding: 24px 16px 4px; } }

@media screen and (max-width: 767px) {
  .mainHeader__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    transition: opacity 0.4s, visibility 0s 0.4s;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto; }
    .js__mainHeaderNavOpen .mainHeader__nav {
      transition: opacity 0.4s;
      opacity: 1;
      visibility: visible; } }

/* メインビジュアル */
.mainVisual {
  position: relative;
  z-index: 2;
  text-align: center;
  overflow: hidden;
  background-image: url("../images/mainVisual/background-image.jpg");
  background-position: center;
  background-repeat: repeat-x;
  background-size: auto 100%; }
  .mainVisual::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 150vmax;
    height: 150vmax;
    border: 150vmax solid #fff;
    transform: translate(-50%, -50%);
    border-radius: 50%; }
    .load-complete .mainVisual::after {
      transition: all 4s cubic-bezier(0.25, 1, 0.5, 1) 0.3s;
      border-width: 0; }

.mainVisual__main {
  max-height: 100%;
  overflow: hidden; }
  .mainVisual__main .mainVisual__mainImage {
    position: relative;
    background-image: url("../images/mainVisual/main-visual.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    width: calc(34rem / 0.46052207541089268);
    margin: 0 auto; }
    .mainVisual__main .mainVisual__mainImage::before {
      content: "";
      display: block;
      padding-top: 46.052207541089268%; }
  .load-complete .mainVisual__main {
    transition: all 0.8s cubic-bezier(0.25, 1, 0.5, 1) 0.3s;
    filter: drop-shadow(0.991rem 0.991rem 1.5rem #d9dade) drop-shadow(-0.991rem -0.991rem 1.5rem #f5f5f5); }

/* ニューモーフィズム */
body.neumorphism {
  /*
   * TODO: コメントアウト
  background-color: rgba($color: $colorGray, $alpha: 0.05);
  */
  background-color: rgba(153, 153, 153, 0.03);
  /* メインビジュアル */
  /* メインヘッダー */
  /* コピーライト */
  /* メインコンテンツ */
  /* カード */ }
  body.neumorphism::before {
    background-color: rgba(213, 97, 108, 0.05);
    box-shadow: inset 9.91px 9.91px 15px #dedede, inset -9.91px -9.91px 15px #fff;
    transition: width 1s cubic-bezier(0.25, 1, 0.5, 1) 0.2s; }
  body.neumorphism.load-complete::before {
    width: calc(50vw - (1024px * 0.5 * 0.4)); }
  body.neumorphism .mainVisual {
    background-color: #fff; }
    body.neumorphism .mainVisual::before {
      content: "";
      position: absolute;
      z-index: 0;
      top: -1rem;
      right: -1rem;
      bottom: -1rem;
      left: -1rem;
      background-color: rgba(153, 153, 153, 0.03); }
  body.neumorphism .mainHeader {
    box-shadow: 0px 9.91px 9px #d9dade; }
  body.neumorphism .mainFooter__copyright {
    text-align: left; }
  body.neumorphism .mainContent__body {
    padding-right: calc((1024px / 0.875 / 2 - (1024px * 0.5 * 0.4)) - ((1024px / 0.875 - 1024px) / 2) + 32px); }
    @media only screen and (max-width: 1170.28571px) {
      body.neumorphism .mainContent__body {
        padding-right: calc((50vw - (1024px * 0.5 * 0.4)) - ((100vw * 0.125) / 2) + 32px); } }
    body.neumorphism .mainContent__body h1,
    body.neumorphism .mainContent__body h2 {
      margin-bottom: 40px;
      box-shadow: #d9dade 4.91px 6.91px 15px, #fff -9.91px -9.91px 15px;
      padding: 1rem 1.5rem; }
    body.neumorphism .mainContent__body iframe[src*="w.soundcloud.com/player"] {
      box-shadow: 4.91px 6.91px 15px #d9dade, -9.91px -9.91px 15px #f5f5f5;
      border-radius: 5px;
      margin-bottom: 24px; }
  body.neumorphism .card__body {
    border: none;
    border-radius: 16px;
    padding: 32px;
    box-shadow: #d9dade 9.91px 9.91px 15px, #f5f5f5 -9.91px -9.91px 15px; }
    @media screen and (max-width: 767px) {
      body.neumorphism .card__body {
        padding: 24px 16px; } }
    body.neumorphism .card__body .card__image {
      overflow: visible; }
      body.neumorphism .card__body .card__image .card__imageIcon,
      body.neumorphism .card__body .card__image img {
        transition: box-shadow 0.4s, transform 0.4s;
        backface-visibility: hidden;
        will-change: transform;
        box-shadow: 4px 4px 15px #d9dade, -4px -4px 15px #f5f5f5; }
      body.neumorphism .card__body .card__image .card__imageIcon {
        border-color: rgba(213, 97, 108, 0.5);
        box-shadow: 0 0 15px rgba(213, 97, 108, 0.5), 0 0 15px #f5f5f5;
        margin-bottom: 10px; }
  body.neumorphism:not(.is__touchDevice) a.card__body:hover .card__image img {
    box-shadow: 4px 4px 15px #bec0c4, -4px -4px 15px #dbdbdb;
    box-shadow: 4px 4px 15px #d9dade, -4px -4px 15px #f5f5f5;
    transform: scale(1.02); }
  body.neumorphism:not(.is__touchDevice) .card__imageList a:hover .card__image img {
    box-shadow: 4px 4px 15px #bec0c4, -4px -4px 15px #dbdbdb;
    box-shadow: 4px 4px 15px #d9dade, -4px -4px 15px #f5f5f5;
    transform: scale(1.05); }

/* 凹んだ感じ */
body.neumorphism--inset {
  /* メインコンテンツ */
  /* カード */ }
  body.neumorphism--inset::before {
    box-shadow: -9.91px 9.91px 15px #dedede, 9.91px 9.91px 15px #fff; }
  body.neumorphism--inset .mainContent__body h1,
  body.neumorphism--inset .mainContent__body h2 {
    box-shadow: 4px 4px 15px #dedede inset, -4px -4px 15px #f5f5f5 inset;
    padding: 8px 16px;
    border-radius: 16px;
    margin-left: -16px; }
    body.neumorphism--inset .mainContent__body h1::after,
    body.neumorphism--inset .mainContent__body h2::after {
      display: none; }
  body.neumorphism--inset .card__body {
    box-shadow: 6px 6px 15px #dedede inset, -6px -6px 15px #f5f5f5 inset; }

/*# sourceMappingURL=style.css.map */