/* アニメーション */
$easeOutBack: cubic-bezier(0.34, 1.56, 0.64, 1);
$easeOutCubic: cubic-bezier(0.33, 1, 0.68, 1);
$easeOutCirc: cubic-bezier(0, 0.55, 0.45, 1);
$easeOutQuart: cubic-bezier(0.25, 1, 0.5, 1);
