/* break point */
$breakpoints: (
  "pc": "screen and (max-width: 1280px)",
  "tb": "screen and (max-width: 768px)",
  "sp": "screen and (max-width: 767px)",
) !default;

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin max($width) {
  @media only screen and (max-width: $width + px) {
    @content;
  }
}

@mixin and($minWidth, $maxWidth) {
  @media only screen and (min-width: $minWidth + px) and (max-width: $maxWidth + px) {
    @content;
  }
}

@mixin min($width) {
  @media only screen and (min-width: $width + px) {
    @content;
  }
}

@mixin tablet($width, $height) {
  @media only screen and (device-width: $width + px) and (device-height: $height + px) {
    @content;
  }
}

@mixin device($width, $height) {
  @media only screen and (device-width: $width + px) and (device-height: $height + px) {
    @content;
  }
}
